{%extends 'home.html' %}
{% block content %}

<div style="display: flex">
{%  for object in object_list %}
       {% include 'items/includes/item.html' with object=object %}

{%endfor%}
</div>


<form action="{% url 'items:cart' %}" style="display: block" id="to_cart" method="get">
       <button  type="submit">Перейти к корзине</button>
</form>


<script defer>


const buttons = document.querySelectorAll('[id^="add_to_cart"]');
const toCartElement = document.getElementById('to_cart');
if ('{{request.session.order_id }}') {
      toCartElement.style.display = 'block';
} else {
    toCartElement.style.display = 'None';
}
buttons.forEach(button => {
    button.addEventListener('click', function () {

        toCartElement.style.display = 'block';
    });
})
</script>


{% endblock %}

