{%extends 'home.html' %}
{% block content %}

<div style="display: flex">
{%  for object in object_list %}
       {% include 'items/includes/item.html' with object=object %}

{%endfor%}
</div>
{% if request.session.order_id%}

<form action="{% url 'items:cart' %}" style="display: none" id="to_cart" method="get">
       <button  type="submit">Перейти к корзине</button>
</form>
        {% endif %}

<script defer>

const buttons = document.querySelectorAll('[id^="add_to_cart"]');

buttons.forEach(button => {
    button.addEventListener('click', function () {
        const toCartElement = document.getElementById('to_cart');
        toCartElement.style.display = 'block';
    });
})
</script>


{% endblock %}

