<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div style="margin: auto;border: red solid 1px;border-radius: 50px; width: 300px;padding: 30px">
   <h4> {{ object.name }}</h4>
    <p>{{ object.description}}</p>
    <p>{{object.price}}</p>
    <div style="padding-left:50%;">
    <button>Buy</button>
    </div>
</div>
</body>
</html>