<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div style="margin: 5px;border: red solid 1px;border-radius: 50px; width: 300px;padding: 30px">
    <h4> {{ object.name }}</h4>
    <p>{{ object.description}}</p>
    <p>{{object.price}}</p>
    <div style="padding-left:50%;">


        <button  id="add_to_cart{{object.id}}">В корзину</button>
        {% csrf_token %}

    </div>


</div>
<div id="checkout-container"></div>
<script src="https://js.stripe.com/v3/" defer></script>
<script defer>


    var buttonAdd = document.getElementById('add_to_cart{{object.id}}');
    var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;


    buttonAdd.addEventListener('click', function () {
        alert('добавлен к заказу')
        fetch('order/{{object.pk}}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
                'X-Requested-With': 'XMLHttpRequest',
            },
        })

            .then(response => response.json())

            .then(data => {
                if (data.order_id) {
                    const order_id = data.order_id
                    console.log(order_id)

                    const checkoutButton = document.createElement('button')

                    checkoutButton.id = 'checkout_button';
               }
                else
                    {
                        fetch('order/{{object.pk}}', {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrfToken,
                                'X-Requested-With': 'XMLHttpRequest',
                            },
                        })


                    }


                }
            )
            })
</script>
</body>


</html>
